{% extends 'layout.html' %}

{% block content %}

    <section class="info" id="info">
      <div class="content3">
        <div class="textinfo">
          <h2>Aplikasi Deteksi Kematangan dan Jumlah Pada Jeruk</h2>
          <div class="ctn-orange">
            <img src="{{ url_for('static', filename='img/jerukjeruk3.jpg')}}" class="jerukjeruk2" />
          </div>
          <p>
            Jeruk sering memiliki tingkat kematangan yang beragam pada satu
            pohon atau satu kebun, dan ini dapat sulit untuk dipantau dengan
            akurat. Kurangnya peralatan atau teknologi yang sesuai untuk
            memantau kematangan secara individual dapat menghasilkan perhitungan
            yang tidak tepat. Sebagai orang yang paling bertanggung jawab atas
            perhitungan jumlah jeruk dan kualitas kematangan jeruk.Petani
            menginginkan kualitas produk yang tinggi, kematangan yang merata,
            efisiensi produksi dan pemantauan dan peramalan yang akurat. Dengan
            semua permasalahan-permasalahan yang dialami petani jeruk ini kami
            membuat sebuah inovasi baru yaitu aplikasi pendeteksi perhitungan
            jumlah dan kualitas kematangan jeruk.
          </p>
        </div>
        <div class="imginfo">
          <img src="{{ url_for('static', filename='img/jerukjeruk3.jpg')}}" class="jerukjeruk2" />
        </div>
      </div>
      <div class="lanjut">
        <p>
          Aplikasi ini di buat untuk mengukur presentase tingkat kematangan yang
          ideal agar memiliki kualitas produk yang tinggi berdasarkan dari rasa,
          tekstur kematangan dan kepatuhan terhadap tandar. Memastikan bahwa
          pemantauan kematangan jeruk dilakukan dengan cara yang efisien, tepat
          w aktu dan akurat. Untuk menghindari pemborosan jeruk yang matang
          secata berlebihan yang bisa menyebabkan jeruk menjadi busuk atau jeruk
          yang belum matang untuk menghindari rasa yang kurang pada jeruk dan
          ketersediaan d ata kematangan jeruk secara real-time. Aplikasi ini
          menggunaan teknologi Deep Learning dengan model YOLO (You Only Look
          Once) versi 5 dapat menjadi solusi yang sangat efektif untuk
          menyelesaikan problem terkait produksi jeruk yang tidak merata dalam
          hal kematangan. YOLO adalah model Deep Learning yang sangat kuat untuk
          deteksi objek dalam gambar atau video dengan kecepatan tinggi.
        </p>
      </div>
    </section>
{% endblock %}